hr
{
    border: none;
    height: 2px; 
    background-color:rgb(164, 205, 206);"
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3
{
    background-color: cadetblue;
    align-content: center;
    text-align: center;
}
p
{
    align-content: center;
    text-align: center;
}
ul
{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
